// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

// New Layout
body#app-2023 {
    // Variables
    $bg-color: #090E1F;
    $min-window: 500px;

    background-color: $bg-color;

    video {
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        height: 15%;
        object-fit: cover;
    }

    hr {
        background: radial-gradient(closest-side, rgba(254, 107, 0, 1) 0%, rgba(150, 0, 0, 0) 100%);
        height: 2px;
    }

    .menu-navbar {
        background: linear-gradient(90deg, transparent, #090E1F);
        height: 60px;

        .navbar-toggler-icon {
            color: white;
        }
    }

    .tags-list {
        margin-bottom: 10px;

        a {
            padding: 5px 10px;
            margin-right: 10px;
            color: #94a3b8;
            background-color: rgba(255, 255, 255, 0.08);
            border-radius: 4px;
            text-decoration: none;
            cursor: pointer !important;

            &:hover {
                background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(240, 73, 73, 1) 100%);
                color: #fff;
            }
        }
    }

    .collapse.navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        flex-direction: column;

        @media (max-width: $min-window) {
            display: none !important;
        }

        ul li a {
            font-family: 'Inter', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            color: #94A3B8;
            flex: none;
            order: 1;
            flex-grow: 0;
            padding: 0 50px;

            &:hover,
            &.active {
                font-weight: 700;
                color: #FFFFFF;
                background-color: unset;
            }
        }
    }

    .pull-right {
        float: right;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .home-title {
        width: 100%;
        text-align: center;
    }

    #sobre-nos {
        font-family: Inter, serif;
        font-size: 14px;
        font-weight: 400;
        text-align: left;
        color: #94A3B8;
        margin-bottom: 100px;
        margin-top: 100px;

        p {
            color: #94a3b8;
            text-align: left;
            font: 400 18px/171.5% "Inter", sans-serif;
            position: relative;
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        h3 {
            color: #ffffff;
            text-align: left;
            font: 600 36px/128.5% "Libre Franklin", sans-serif;
            position: relative;
            align-self: stretch;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .buttons {
            justify-content: flex-start;

            .about-us-link {
                background: linear-gradient(90deg, rgba(255, 77, 0, 1) 0%, rgba(240, 73, 73, 1) 100%);
                border-radius: 8px;
                padding: 14px 24px 14px 24px;
                display: flex;
                flex-direction: row;
                gap: 10px;
                justify-content: flex-start;
                flex-shrink: 0;
                position: relative;
                box-shadow: var(--button-box-shadow, 4px 6px 61px 0px rgba(3, 85, 97, 0.25));
                color: var(--slate-100, #f1f5f9);
                text-align: left;
                font: 500 16px/140% "Inter", sans-serif;
                margin-right: 15px;
            }

            .leia-manifesto-link {
                background: linear-gradient(
                        90deg,
                        rgba(255, 77, 0, 0.3) 0%,
                        rgba(240, 73, 73, 0.3) 100%
                );
                border-radius: 8px;
                border-width: 1px;
                border-style: none;
                border-image: none;
                padding: 14px 24px 14px 24px;
                display: flex;
                flex-direction: row;
                gap: 10px;
                flex-shrink: 0;
                position: relative;

                color: #ffffff;
                text-align: left;
                font: 500 16px/140% "Inter", sans-serif;
                position: relative;
                align-items: center;
                justify-content: center;
            }
        }

        @media (max-width: $min-window) {
            .img-container,
            .text-container {
                width: 100%;
                display: contents;

                div {
                    padding: 0 20px;

                    .buttons {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding: 0;

                        a {
                            width: 100%;
                            justify-content: center;


                            &.leia-manifesto-link {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }

    .content-home {
        background-color: transparent;

        h2 {
            font: 600 48px/100% "Libre Franklin", sans-serif;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 100px;
        }

        .home-title-sections {
            margin-bottom: 30px;
            font-family: 'Libre Franklin', serif;
            font-style: normal;
            font-weight: 700;
            font-size: 35px;
            line-height: 110%;
            color: #FFFFFF;
            flex: none;
            order: 0;
            flex-grow: 0;
            text-align: left;
        }

        .slick-next:before {
            content: url('/images/svg/next-slide.svg');
        }

        .slick-prev {
            transform: scaleX(-1);

            &:before {
                content: url('/images/svg/next-slide.svg');
            }
        }

        @media (max-width: $min-window) {
            .slick-next:before {
                content: '';
            }

            .slick-prev:before {
                content: '';
            }
        }

        #masterclass {
            color: white;

            hr {
                margin: -20px 200px 50px 200px;
            }

            i {
                color: #035561;
            }

            .masterclass-image.card {
                background-color: transparent;
            }

            @media (max-width: $min-window) {
                .col-7 {
                    flex: unset;
                    max-width: 100%;
                    background-image:
                        linear-gradient(90deg, $bg-color 50%, rgba(8, 125, 141, 0.3) 100%),
                        url('/images/home-master-class.png');
                }
            }

            .img-container {
                background-image:
                    linear-gradient(90deg, $bg-color 0%, rgba(8, 125, 141, 0.3) 100%),
                    url('/images/home-master-class.png');

                @media (max-width: $min-window) {
                    display: none;
                }
            }

            .flex {
                align-items: flex-start;
            }

            .label {
                font-family: 'Inter', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 14px;
                line-height: 140%;
                display: flex;
                align-items: center;
                text-transform: capitalize;
                color: #F1F5F9;
                box-sizing: border-box;
                flex-direction: row;
                justify-content: center;
                padding: 6px 17px;
                gap: 10px;
                position: absolute;
                background: linear-gradient(90deg, rgba(3, 85, 97, 0.3) 0%, rgba(8, 125, 141, 0.3) 100%);
                border-radius: 200px;
            }

            h1 {
                font-family: 'Libre Franklin', serif;
                font-style: normal;
                font-weight: 600;
                font-size: 50px;
                line-height: 117.5%;
                align-items: center;
                color: #FFFFFF;
            }

            p {
                color: #94A3B8;
            }

            .join-cta {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 14px 24px;
                gap: 10px;
                width: 200px;
                height: 50px;
                background: linear-gradient(90deg, #035561 0%, #087D8D 100%);
                box-shadow: 4px 6px 61px rgba(3, 85, 97, 0.25);
                border-radius: 8px;
                flex: none;
                order: 0;
                flex-grow: 0;
                margin-right: 20px;
                justify-content: center;

                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.017em;
                color: #F1F5F9;
            }

        }

        #webseries {
            margin: 100px 0;

            .card-container .card hr {
                margin-top: -10px;
                padding: 1px;
            }

            .card-container .card hr.hr-bottom {
                margin-top: -23px;
            }

            .flex {
                display: flex;
                align-items: center;
                justify-content: space-between;


                .card-container {
                    height: 240px;

                    .card {
                        box-sizing: border-box;
                        position: absolute;
                        width: 300px;
                        background: rgba(255, 255, 255, 0.03);
                        box-shadow: 9px 10px 25px rgba(0, 0, 0, 0.25);
                        border-radius: 16px;
                        padding: 11px !important;
                        height: 100%;

                        @media (max-width: $min-window) {
                            width: 150px;
                            height: 285px;
                        }

                        a {
                            text-align: center !important;
                            color: #fff;

                            p {
                                padding: 10px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
        }

        #verbetes {
            margin: 100px 0;
            height: 515px;

            .card-container .card hr {
                margin-top: -3px;
                margin-bottom: 0;
                padding: 1px;
            }

            .card-container .card hr.hr-bottom {
                padding: 0;
                margin-top: -10px;
            }

            @media (max-width: $min-window) {
                height: 350px;
            }

            .home-title {
                margin-bottom: 30px;
            }

            h2 {
                font-family: 'Libre Franklin', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 35px;
                line-height: 110%;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
                text-align: left;
            }

            .flex {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .card-container {
                    height: 450px;

                    .card {
                        box-sizing: border-box;
                        position: absolute;
                        background: rgba(255, 255, 255, 0.03);
                        box-shadow: 9px 10px 25px rgba(0, 0, 0, 0.25);
                        border-radius: 16px;
                        width: 280px;
                        height: 420px;

                        @media (max-width: $min-window) {
                            width: 150px;
                            height: 285px;
                        }

                        a {
                            text-align: center !important;
                            color: #fff;

                            p {
                                padding: 10px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        img {
                            width: 250px;
                            display: inline;
                            padding-top: 15px;
                        }
                    }
                }
            }
        }

        #home-realizacao {
            margin-bottom: 100px;
            margin-top: 100px;

            .logo-realizacao {
                display: flex;
                justify-content: center;
            }

            @media (max-width: 875px) {
                margin-top: 50px;

                .logo-realizacao img {
                    width: 100%;
                    padding: 0 20px;
                }
            }
        }

        #home-parceiros {
            align-items: center;
            margin-bottom: 140px;
            margin-top: 100px;

            img {
                width: 172px;

                &:hover {
                    transform: none;
                    transition: none;
                }
            }

            @media (max-width: $min-window) {
                margin-bottom: 0;

                .img-container {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 140px;
                    }
                }
            }
        }
    }

    @media (max-width: $min-window) {
        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            h2 {
                margin-bottom: 44px;
            }
        }
    }

    .container {
        max-width: 1200px;
    }
}
