// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/Lato-Regular.ttf');
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.parallax {
    background-color: white;

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-right: 80px;
    padding-left: 80px;
}

.menu-navbar, .dropdown-menu {
    background-color: #224A59;
}

.navbar-light .navbar-nav .nav-link,
.card-header a, .dropdown-menu a, .modal-header a, .modal-header button {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:hover {
    font-weight: bold;
    background-color: #224A59;
    color: white;
}

.btn-outline-info {
    color: #4B8CA6;
    border-color: #4B8CA6;
}

.btn-outline-info:hover {
    color: #212529;
    background-color: #A3C9D9;
    border-color: #A3C9D9;
}

.card-header, .modal-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #224A59;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-title, h2.home-title {
    color: #224A59;
    font-weight: bold;
}

.dropdown-item.disabled, .nav-item .nav-link.disabled {
    color: rgba(255, 255, 255, 0.5) !important;
}

#navbarDropdownLoginForm {
    color: white;
}

.modal-home-video {
    cursor: pointer;
}

.modal-home-video-target .modal-header {
    color: white;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
    transform: translateX(0);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline:0;
    cursor: pointer;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    opacity: 0.5;
}

svg {
    padding: 5px;
    filter: drop-shadow(0px 4px 6px rgba(20, 20, 20, 0.9));
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
}

.left {
    left: 42%;
}

.right {
    left: 58%;
}

.left:hover polyline,
.left:focus polyline,
.left:active polyline,
.right:hover polyline,
.right:focus polyline,
.right:active polyline {
    stroke-width: 4;
}

.left:active polyline,
.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
}

polyline {
    transition: all 250ms ease-in-out;
    stroke: white;
    stroke-width: 10;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    border: none;
}
